# .clang-format
BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 100

# Tabs
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

# Line breaks / alignment
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false

# Constructor initializer lists
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# Includes
IncludeBlocks: Regroup
SortIncludes: true

# Spaces and wrapping
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
